<div class="card">
    <input type="checkbox" value="@@value" class="card__input" id="check">
    <div class="polygon @@active">
        <div class="card__wrap">
            <div class="card__text">
                <p class="card__descr card__descr_default">@@descr-default</p>
                <p class="card__descr card__descr_hover hide">@@descr-hover</p>
                <h2 class="card__title">Нямушка<br><span>@@taste</span></h2>
                <p class="card__amount">@@amount</p>
                <p class="card__present">@@present</p>
            </div>
            <img src="./img/cat.png" alt="" class="card__img">
            <div class="card__circle">
                <p class="card__weight">@@weight<br><span>кг</span></p>
            </div>
        </div>
    </div>
    <p class="card__caption default">@@caption-default <span class="card__buy">купи.</span></p>
    <p class="card__caption selected hide">@@caption-selected</p>
    <p class="card__caption disabled hide">@@caption-disabled</p>
</div>