.card {
    width: 370px;
    height: 554px;
    font-family: Trebuchet MS, sans-serif;
    font-weight: 400;
    user-select: none;
}

.card input {
    display: none;
}

.polygon {
    width: 100%;
    height: 100%;
    background: var(--blue);
    cursor: pointer;
}

.card__wrap {
    width: 362px;
    height: 546px;
    top: 4px;
    left: 4px;
    position: relative;
    background: var(--white);
    overflow: hidden;
    pointer-events: none;
}

.polygon,
.card__wrap {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 8%, 13% 0);
    border-radius: 20px;
}

.card__wrap {
    border-radius: 17px;
}

.card__text {
    padding: 0 10px 0 56px;
    margin-top: 20px;
}

.card__descr {
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: var(--grey);
}
.card__descr_hover {
    color: var(--pink);
}

.card__title {
    font-weight: 700;
    font-size: 55px;
    line-height: 39px;
    color: var(--black);
    margin-left: -3px;
    margin-top: 18px;
    margin-bottom: 20px;
}

.card__title span {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.8px;
    margin-left: 3px;
}

.card__amount,
.card__present {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.5px;
    color: var(--grey);
}

.card__img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 360px;
    height: 310px;
}

.card__circle {
    position: absolute;
    bottom: 15px;
    right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background: var(--blue);
}

.card__weight {
    font-size: 44px;
    line-height: 26px;
    color: var(--white);
}

.card__weight span {
    font-size: 24px;
    line-height: 0;
}

.card__caption {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    color: var(--white);
}

.card__buy {
    color: var(--blue);
    border-bottom: 2px dashed var(--blue);
    cursor: pointer;
}

.selected {
    background: var(--pink);
}
.card__caption.selected {
    background: none;
}

.disabled {
    filter: grayscale(1);
    cursor: default;
}
.card__caption.disabled {
    filter: grayscale(0);
    color: var(--yellow);
}

.hide {
    display: none;
}








@media (min-width:2050px) {
    .card {
        width: 570px;
        height: 754px;
    }
    .card__wrap {
        width: 554px;
        height: 738px;
        top: 8px;
        left: 8px;
    }
    .card__text {
        padding: 0 20px 0 70px;
        margin-top: 30px;
    }
    .card__descr {
        font-size: 30px;
    }
    .card__title {
        font-size: 90px;
        line-height: 60px;
        margin-top: 38px;
        margin-bottom: 40px;
    }
    
    .card__title span {
        font-size: 46px;
    }
    
    .card__amount,
    .card__present {
        font-size: 20px;
        line-height: 22px;
    }
    .card__img {
        width: 460px;
        height: 410px;
    }
    .card__circle {
        width: 155px;
        height: 155px;
    }
    
    .card__weight {
        font-size: 74px;
        line-height: 46px;
    }
    
    .card__weight span {
        font-size: 44px;
    }
    .card__caption {
        font-size: 23px;
        line-height: 35px;
    }
    
    .card__buy {
        border-bottom: 4px dashed var(--blue);
    }
}


@media (min-width:1800px) {
    .card {
        width: 470px;
        height: 654px;
    }
    .card__wrap {
        width: 458px;
        height: 642px;
        top: 6px;
        left: 6px;
    }
    .card__descr {
        font-size: 25px;
        line-height: 30px;
    }
    
    .card__amount,
    .card__present {
        font-size: 17px;
        line-height: 20px;
    }
    .card__img {
        width: 410px;
        height: 360px;
    }
    .card__circle {
        width: 125px;
        height: 125px;
    }
    
    .card__weight {
        font-size: 54px;
        line-height: 36px;
    }
    
    .card__weight span {
        font-size: 34px;
    }
    .card__caption {
        margin-top: 15px;
        font-size: 19px;
        line-height: 30px;
    }
    
    .card__buy {
        border-bottom: 3px dashed var(--blue);
    }
}

@media (min-width:1600px) {
    .card {
        width: 430px;
        height: 614px;
    }
    .card__wrap {
        width: 422px;
        height: 606px;
    }
    .card__descr {
        font-size: 22px;
        line-height: 25px;
    }
    .card__title {
        font-size: 70px;
        line-height: 50px;
        margin-top: 25px;
    }
    
    .card__title span {
        font-size: 36px;
        line-height: 30px;
    }
    .card__caption {
        margin-top: 10px;
        font-size: 17px;
        line-height: 20px;
    }
}

@media (max-width:1350px) {
    .card {
        width: 300px;
        height: 484px;
    }
    .card__wrap {
        width: 292px;
        height: 476px;
    }
    .card__text {
        padding: 0 10px 0 35px;
        margin-top: 10px;
    }
    .card__descr {
        font-size: 18px;
        margin-top: 20px;
    }
    .card__title {
        font-size: 50px;
        line-height: 35px;
    }
    .card__title span {
        font-size: 24px;
    }
    .card__img {
        width: 280px;
        height: 230px;
    }
    .card__circle {
        width: 75px;
        height: 75px;
    }
    .card__weight {
        font-size: 34px;
        line-height: 22px;
    }
    .card__weight span {
        font-size: 20px;
    }
    .card__caption {
        margin-top: 10px;
        font-size: 12px;
    }
}


@media (max-width:1100px) {
    .card {
        width: 250px;
        height: 400px;
    }
    .card__wrap {
        width: 242px;
        height: 392px;
    }
    .card__text {
        padding: 0 10px 0 30px;
    }
    .card__descr {
        font-size: 14px;
        margin-top: 15px;
    }
    .card__title {
        font-size: 40px;
        line-height: 30px;
    }
    .card__title span {
        font-size: 20px;
        line-height: 0px;
    }
    .card__amount,
    .card__present {
        font-size: 12px;
        line-height: 12px;
    }
    .card__img {
        width: 250px;
        height: 200px;
    }
    .card__circle {
        width: 55px;
        height: 55px;
    }
    .card__weight {
        font-size: 26px;
        line-height: 16px;
    }
    .card__weight span {
        font-size: 14px;
    }
    .card__caption {
        font-size: 10px;
    }
}